html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

img,
svg {
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

#cards {
    position: absolute;
    width: 200px;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

#pdfInputs {
    z-index: 1;
    pointer-events: none;
}

#pdfInputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    margin: 4px;
}

#pdfInputs>div>* {
    pointer-events: all;
}

#pdfInputs label {
    margin-right: 8px;
}

#pdfInputs input {
    width: 64px;
}

#templateDisplay {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
}

#templateDisplayDetail {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    --zoom: 1;
    --x: 50%;
    --y: 50%;
    transform: scale(var(--zoom));
    transform-origin: var(--x) var(--y);
    clip-path: inset(calc((1 - 1/var(--zoom)) * (var(--y))) calc((1 - 1/var(--zoom)) * (100% - var(--x))) calc((1 - 1/var(--zoom)) * (100% - var(--y))) calc((1 - 1/var(--zoom)) * (var(--x))));
}

#deckContainer {
    position: absolute;
    left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#convertButtons,
.searchButtons {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    pointer-events: none;
}

:nth-child(2 of .searchButtons) {
    margin-left: 24px;
}

#searchButtons {
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    z-index: 10000;
}

.artView #searchButtons {
    width: 100%;
    left: 0;
}

.searchButtons img {
    margin: 4px;
    transition: filter 0.3s ease-in-out;
}

.searchButtons img.selected,
#cropMarkShapes img.selected,
#defaultViewButton,
.artView #artViewButton,
.pdfView #pdfButton {
    filter: invert(1);
    transition: filter 0.3s ease-in-out;
}

#deckInput {
    width: calc(100% - 5px);
    background-color: #2c2c2c;
    border: 1px solid #4c4c4c;
    color: #ffffff;
    flex-grow: 1;
    resize: none;
}

.card {
    width: 176px;
    margin: 6px;
    border-radius: 5%;
    perspective: 1000px;
    position: sticky;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    transition: bottom 1s ease-in-out;
}

.cardFace {
    border-radius: 5%;
    width: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease-in-out;
}

.card {

    img {
        width: 100%;
        border-radius: 5%;
        backface-visibility: hidden;
        /* Safari */
        -webkit-backface-visibility: hidden;
        margin-bottom: -4px;
    }

    .cardFlipImg {
        display: none;
        position: absolute;
        top: 0;
        transform: rotateY(-180deg);
    }

    .rollbackSvg,
    .forwardSvg {
        display: none;
        position: absolute;
        width: 28px;
        bottom: 20px;
        z-index: 1000;
    }

    .rollbackSvg {
        left: 20px;
    }

    .forwardSvg {
        right: 20px;
    }

    .flipSvg {
        display: none;
        position: absolute;
        width: 28px;
        top: 70px;
        right: 18px;
        z-index: 1000;
    }

    .update {
        border-radius: 8px;
    }
}

.card.revertable .rollbackSvg {
    display: block;
}

.card.forwardable .forwardSvg {
    display: block;
}

.card.twoFaced {

    .flipSvg {
        display: block;
    }

    .cardFlipImg {
        display: block;
    }
}

.card.flipped {

    .cardFace {
        transform: rotateY(-180deg);
        transition: transform 1s ease-in-out;
    }

    .flipSvg {
        filter: invert(1);
        transition: filter 1s ease-in-out;
    }
}

/* .card::after {
    position: absolute;
    content: attr(identifier);
    display: inline-block;
    flex-grow: 0;
    top: 0px;
    left: 4px;
    align-content: center;
    font-size: 14px;
    transform: rotate(90deg);
    transform-origin: bottom left;
    text-shadow: 1px 1px 1px black;
} */

.card.selected .cardFace {
    outline: 3px solid purple;
}

.update {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2000;
    backdrop-filter: blur(3px);
}

.updateSvg {
    position: absolute;
    width: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    filter: invert(1) brightness(0.6);
    z-index: 2001;
    animation: rotateSpinner 800ms steps(12) infinite;
}

@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}

.updating .update {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

img.gray,
svg.gray,
.artView #defaultViewButton,
.pdfView #defaultViewButton {
    filter: invert(1) brightness(0.6);
    transition: filter 1s ease-in-out;
}

img.border,
svg.border {
    background: #ffffff6e;
    padding: 4px;
    border: 2px solid #6e6e6e;
    border-radius: 8px;
}

img.border.round,
svg.border.round {
    border-radius: 50%;
}

#deckEnd {
    height: 0;
    padding-top: 50px;
    display: flex;
}

button {
    margin: 4px;
    padding: 4px 20px 4px 20px;
    align-self: center;
}

.clickable,
button {
    cursor: pointer;
    pointer-events: all;
}

.transparent {
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-track,
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    position: absolute;
    z-index: 1000;
}

.scrollbar::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 0 6px purple;
    background-color: black;
}

#toaster {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    z-index: 10100;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

#toaster.show {
    opacity: 1;
}

#toasterMessage {
    margin: 0;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #555;
    margin-top: 5px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: purple;
    transition: width 1s ease;
}

#defaultViewButton {
    position: absolute;
    height: 28px;
    top: 4px;
    right: 4px;
    z-index: 10001;
}

#artViewButton {
    position: absolute;
    height: 28px;
    top: 48px;
    right: 4px;
    z-index: 10001;
}

#pdfButton {
    position: absolute;
    height: 28px;
    top: 92px;
    right: 4px;
    z-index: 10001;
}

.artView #deckContainer,
.pdfView #deckContainer,
.pdfView #cards,
.pdfView #searchButtons {
    display: none;
}

.artView #cards {
    width: 100%;
    padding-top: 40px;
    height: calc(100% - 40px);
}

.artView #cardContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#pdfContainer {
    justify-content: center;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

#pdfContainer embed {
    flex-grow: 1;
    resize: none;
}

.pdfView #pdfContainer {
    display: flex;
}

.artView .card {
    position: relative;
    width: min(240px, 50% - 20px);
    transform: none !important;
}

.CodeMirror {
    background-color: #2c2c2c;
    border: 1px solid #4c4c4c;
    color: #ffffff;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
}

.CodeMirror-lines {
    padding: 4px 8px;
}

.CodeMirror-cursor {
    border-left: 2px solid purple;
}

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-selected {
    background: purple;
    box-shadow: 0 0 8px 8px purple;
}

.isUndefined {
    color: tomato !important;
}

.circular-display {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 90px;
    height: 60px;
    background-color: #333;
    color: #fff;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    z-index: 10100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.circular-display * {
    pointer-events: none;
}

.circular-display-inner {
    text-align: center;
    font-size: 12px;
}

#storeSizeValue {
    font-size: 18px;
    font-weight: bold;
}

.context-menu {
    display: block;
    position: absolute;
    z-index: 10200;
    background-color: #1e1e1e;
    border: 1px solid #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
}

.context-menu ul li:hover {
    background-color: purple;
}

.tutorial-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 20000;
    justify-content: center;
    align-items: center;
}

.tutorial-frame {
    position: absolute;
    outline: 2px solid red;
    border-radius: 2px;
    z-index: 20002;
    transition-property: width, height, top, left;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.tutorial-content-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20004;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.tutorial-content {
    position: fixed;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #6e6e6e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 600px;
    pointer-events: all;
}

.tutorial-content p {
    margin-bottom: 20px;
}

.tutorial-content button {
    margin: 5px;
}